<!-- start custom head snippets -->

<style>
  #main td, th { border: none!important; }
  #main a:link { text-decoration: underline; }
  #main a:visited { text-decoration: underline; }
  #main a:focus { text-decoration: underline; color: #888888; }
  #main a:hover { text-decoration: underline; color: #888888; }
  #main a:active { text-decoration: underline; color: #888888; }
  #main ul li{ 
    display: inline;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
  }
</style>

<!-- insert favicons. use https://realfavicongenerator.net/ -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css">

<!-- end custom head snippets -->
